* text=auto !eol
/Makefile -text
/apertium-ky-en.en.dix -text
/apertium-ky-en.ky-en.rlx -text
/apertium-ky-en.ky.lexc -text
/apertium-ky-en.ky.twol -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
